.btn
    display: inline-block;
    position: relative;
    height: 37px;
    padding: 0 16px;
    color: rgba(0,0,0,0.44);
    background: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
.btn--close
    font-size: 36px;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    /* letter-spacing: -0.02em; */
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    line-height: 20px;
    vertical-align: middle;
    border: none;
    color: white;