<div class='tag-cloud'>
	<div class='tag-cloud__title'>
		<h2>标签云</h2>
	</div>
	<div class='tag-cloud__tags'>
		<%- tagcloud({min_font: 12, max_font: 30, amount: 200, color: true, start_color: '#ccc', end_color: '#111'})%>
	</div>
</div>
