<div class='tag-cloud'>
	<div class='tag-cloud__title'>
		<h2>标签云</h2>
	</div>
	<div class='tag-cloud__tags'>
		<%- tagcloud({min_font: 16, max_font: 36, amount: 200, color: true, start_color: 'rgba(0,0,0,0.6)', end_color: 'rgba(0,0,0,0.6)'})%>
	</div>
</div>
