<div class='tag-cloud'>
	<div class='tag-cloud__title'>
		<h2>标签云</h2>
	</div>
	<div class='tag-cloud__tags'>
		<%- tagcloud({min_font: 16, max_font: 36, amount: 200, color: true, start_color: '#5e98ba', end_color: '#5e98ba'})%>
	</div>
</div>
