.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  // column-gap: 10px
  // @media mq-tablet
  //   column-count: 2
  // @media mq-normal
  //   column-count: 3

.archive-article
  avoid-column-break()

.archive-article-title
  font-size: 1.2rem
  font-weight: 300
  margin-bottom: 0
  text-decoration: none
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link
    
  @media mq-tablet
    font-size: 1.4rem
  @media mq-normal
    font-size: 1.6rem
.archive-article-inner
  @extend $block
  padding: 10px 30px 10px
  // border: 1px solid color-grey
  border-radius: 5px
  margin-bottom: 15px
  h3 
    margin-bottom: 0
.archive-posts-count {
  margin-top: 50px;
}
// .archive-article-title
//   text-decoration: none
//   font-weight: 300
//   color: color-default
//   transition: color 0.2s
//   line-height: line-height
//   &:hover
//     color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  border-radius: 3px
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 15px
    line-height: 1
    height: 2ex
    transition: all 0.1s linear
  a
    color: color-grey
    margin: 4px
    border-radius: 2px
    text-decoration: none
    &:hover
      background: color-main
      color: #fff
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: white
    background: darken(color-main, 10%)
    border-radius: 2px
  .space
    color: color-border