#footer
  text-align: center
  background: color-footer-background
  padding: 60px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  
.foot-nav {
    .social {
      margin: 20px 0;
      .github {
        background: url('/img/github.png') center no-repeat color-github;
        border: 1px solid color-github;
      }
      .facebook {
        background: url('/img/facebook.png') center no-repeat color-facebook;
        border: 1px solid color-facebook;
      }
      .google {
        background: url('/img/google.png') center no-repeat color-google;
        border: 1px solid color-google;
      }
      .linkedin {
        background: url('/img/linkedin.png') center no-repeat color-linkedin;
        border: 1px solid color-linkedin;
      }
      .rss {
        background: url('/img/rss.png') center no-repeat color-rss;
        border: 1px solid color-rss;
      }
      .stackoverflow {
        background: url('/img/stackoverflow.png') center no-repeat color-stackoverflow;
        border: 1px solid color-stackoverflow;
      }
      .twitter {
        background: url('/img/twitter.png') center no-repeat color-twitter;
        border: 1px solid color-twitter;
      }
      .weibo {
        background: url('/img/weibo.png') center no-repeat color-weibo;
        border: 1px solid color-weibo;
      }
      li { 
        display: inline-block;
        margin-right: 10px;
        a {
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
            text-indent: -9999px;
            margin: 0 15px 15px 0;
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            width: 28px;
            height: 28px;
            transition: 0.3s;
            &:hover {
              opacity: 1;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
        }
      }
    }
}
