// https://github.com/chriskempson/tomorrow-theme
highlight-background = #f6f9fa
highlight-current-line = #efefef
highlight-selection = #d6d6d6
highlight-foreground = #4d4d4c
highlight-comment = #8e908c
highlight-red = #c82829
highlight-orange = #f5871f
highlight-yellow = #eab700
highlight-green = #718c00
highlight-aqua = #3e999f
highlight-blue = #4271ae
highlight-purple = #8959a8

$code-block
  background: highlight-background
  // margin: 0 article-padding * -0.3
  padding: 15px article-padding
  border-radius: 4px
  // border-style: solid
  // border-color: color-border
  // border-width: 1px 0
  overflow: auto
  color: highlight-foreground
  line-height: font-size * line-height

$line-numbers
  color: #666
  font-size: 0.85em

.article-entry
  pre, code
    font-family: font-mono
  code
    background: color-background
    text-shadow: 0 1px #fff
    padding: 0 0.3em
  pre
    @extend $code-block
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    position: relative
    @extend $code-block
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin-left: 20px
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: highlight-comment
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-right: 20px
    .line
      height: font-size * line-height
  .highlight-wrap[rel]
    padding-top: 38px
    position: relative
    @extend $code-block
    // margin: 20px
    @media mq-mobile
      margin: -10px
  .highlight-wrap[rel]:before {
    content: attr(rel);
    height: 38px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background: #e18728;
    // background-image: -webkit-gradient(from(#e8e7e8), to(#d3d2d3));
    // background-image: -webkit-linear-gradient(#e8e7e8, #d3d2d3);
    background-image: linear-gradient( #e8e7e8, #d3d2d3);
    // background-image: -moz-linear-gradient( #e8e7e8, #d3d2d3);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e8e7e8, endColorstr=#d3d2d3, GradientType=1);
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 5px 65px;
    text-indent: 15px;
    float: left;
  }
  .highlight-wrap[rel]:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 12px; 
    height: 12px;
    top: 0;
    left: 20px;
    margin-top: 12px;
    box-shadow: 20px 0px #fdbc40, 40px 0px  #35cd4b;
  }
  .highlight-wrap
    .highlight
      margin: 0
      border-radius: 0
      padding: 0
      
  .gist
    margin: 0 article-padding * -1
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    background: highlight-background
    padding: 15px article-padding 15px 0
    .gist-file
      border: none
      font-family: font-mono
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: highlight-background
        color: highlight-comment
        font: 0.85em font-sans
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: article-padding
        a
          color: color-link
          font-weight: normal
          &:hover
            text-decoration: underline

pre
  .comment
  .title
    color: highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-green
  .css .hexcolor
    color: highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
  .keyword
  .javascript .function
    color: highlight-purple