.social {
  margin: 10px 0;
  .github {
    background: url('/img/github.png') center no-repeat color-github;
    border: 1px solid color-github;
  }
  .facebook {
    background: url('/img/facebook.png') center no-repeat color-facebook;
    border: 1px solid color-facebook;
  }
  .google {
    background: url('/img/google.png') center no-repeat color-google;
    border: 1px solid color-google;
  }
  .linkedin {
    background: url('/img/linkedin.png') center no-repeat color-linkedin;
    border: 1px solid color-linkedin;
  }
  .rss {
    background: url('/img/rss.png') center no-repeat color-rss;
    border: 1px solid color-rss;
  }
  .stackoverflow {
    background: url('/img/stackoverflow.png') center no-repeat color-stackoverflow;
    border: 1px solid color-stackoverflow;
  }
  .twitter {
    background: url('/img/twitter.png') center no-repeat color-twitter;
    border: 1px solid color-twitter;
  }
  .weibo {
    background: url('/img/weibo.png') center no-repeat color-weibo;
    border: 1px solid color-weibo;
  }
  .codepen {
    background: url('/img/codepen.png') center no-repeat color-codepen;
    border: 1px solid color-codepen;
  }
  li { 
    display: inline-block;
    margin-right: 2px;
    a {
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        text-indent: -9999px;
        margin: 0 5px;
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        width: 28px;
        height: 28px;
        transition: 0.3s;
        &:hover {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
    }
  }
}