.tag-cloud 
  text-align: center 
  padding: 120px 40px


.tag-cloud__tags
  a 
    background-color: rgba(0,0,0,0.05)
    display: inline-block
    border-radius: .3em;
    display: inline-block;
    margin: 0 .1em .4em;
    padding: .3em .7em;
    text-decoration: none
    font-weight: 200
    &:hover 
       background-color: #e4f0f6 !important
       color: color-tag-hover !important
       
.tag-cloud__title
  margin-bottom: 20px