.tag-cloud 
  text-align: center 
  padding: 120px 40px


.tag-cloud__tags
  a 
    background-color: #e4f0f6
    display: inline-block
    border-radius: .3em;
    display: inline-block;
    margin: 0 .1em .4em;
    padding: .3em .7em;
    text-decoration: none
    font-weight: lighter
    &:hover 
       background-color: #e0e9f6
       color: white