<% if ((theme.duoshuo && theme.duoshuo.shortname) || theme.duoshuo_shortname) { %>
  <% if (theme.duoshuo) { %>
    <% var duosuo_shortname; %>
    <% duoshuo_shortname = theme.duoshuo.shortname; %>
  <% } else { %>
    <% duoshuo_shortname = theme.duoshuo_shortname; %>
  <% } %>

  <section id='duoshuo-comments'>
    <div class="ds-thread" data-thread-key="<%- post.path  %>" data-title="<%- post.title  %>" data-url="<%- post.permalink %>">
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"<%- duoshuo_shortname %>"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
  </section>
<% } %>